.footerParentDiv {
  width: 100%;
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeeef;
  padding: 10px;
}
.footerParentDiv .content .heading {
  font-size: 20px;
  font-weight: bolder;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #4b56d2;
  color: #fff;
}

.footerParentDiv .footer p {
  margin: 0;
}
.list {
  font-size: 16px;
  font-weight: 500;
  color: #191919;
  cursor: pointer;
}
.list ul {
  list-style-type: none;
}
.list ul li {
  padding-top: 5px;
}
.list ul li:hover {
  color: #4b56d2;
}
